.p-confirm-popup .p-confirm-popup-footer button:last-child,
.btn-primary {
    background-color: #1F4068 !important;
}

.container {
    padding: 20px;

    h3 {
        font-size: 24px;
        margin-top: 20px;
    }

    .p-datatable {
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        margin-top: 20px;
        img {
            vertical-align: middle;
            margin-right: 10px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 42px;
            height: auto;
        }

        a {
            color: #1F4068;
            margin-left: 4px;
            text-decoration: none;

            i {
                font-size: 1.2rem;
            }
        }

        a:hover {
            color: #0056b3;
        }

    }
}